<header class="mb-5">
 
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="./assets/icons/argentina-programa.png" alt="Logo de Argentina programa" class="logo-header logo-arg" width="150px">
            </a>
          </div>
          <div class="d-none d-md-block me-5 pe-5">
            <!--Whatsapp-->
            <a href="https://api.whatsapp.com/send?phone=+54{{persona.telPersona}}&text=%C2%A1Hola%20Me%20gustar%C3%ADa%20ponerme%20en%20contacto%20para%20conocer%20m%C3%A1s%20sobre%20tu%20trabajo" target="_blank">
                <i class="fa-brands fa-whatsapp text-success fs-1 mx-3"></i>
            </a>
            <!--Github-->
            <a href="{{persona.githubPersona}}" id="profile-link" target="_blank">
                <i class="fa-brands fa-github text-dark fs-1 mx-3"></i>
            </a>
            <!--Linkedin-->
            <a href="{{persona.linkedinPersona}}" target="_blank">
                <i class="fa-brands fa-linkedin text-primary fs-1 mx-3"></i>
            </a>
          </div>
          <!--Botones para iniciar sesión-->
          <div class="">
            <a href="/login" *ngIf="!isLogged"><i class="fa-solid fa-circle-user fs-1 text-dark"></i></a>
            <i class="fa-solid fa-arrow-right-from-bracket fs-1 text-dark" (click)="onLogout()" *ngIf="isLogged"></i>
          </div>
        </div>
      </nav>
</header>
