/* .form-login{
    height: 500px;
}

.login-fondo {
    background-image: url('../../../assets/images/background/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 10%;
} */

.login-fondo {
    height: 100vh;
    background-image: url('../../../assets/images/background/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
  }
  
  .form-login {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  